<% include header %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<main>
  <header>
    <h1><%= alleInfo.attr.naam%></h1>
  </header>
  <section class='content'>
    <p><%= details.attributes.categorie%></p><br>
    <p><%= details.attributes.straat%> <%= details.attributes.huisnr%></p>
    <p><%= details.attributes.postcode%> <%= details.attributes.gemeente%> </p><br>
    <p><%= details.attributes.type%></p><br>
    <p>Prijs: € <%=extrainfo.prijs %></p>
    <p>Openingsdagen: <%=extrainfo.openingstijd %></p>
    <p>Toegankelijk voor rolstoelen en buggy's: <%=extrainfo.gebruiksvriendelijk %></p>
    <p>Populariteit Google: <%=extrainfo.populariteitgoogle %></p><br>
    <p class="basistekst"><%=extrainfo.basistekst %></p>
    <div id="mapid"></div>



    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>
   <script src='/js/leafletscript.js'></script>

   <script type="text/javascript">

       var iconSoort;
       var categorie = '<%-details.attributes.categorie%>';

       if (categorie === 'Erfgoedvereniging') {
         iconSoort = erfgoedvereniging;
       } else if (categorie === 'Museum') {
         iconSoort = museum;
       } else if (categorie === 'Levensbeschouwelijk.erfgoed') {
         iconSoort = levensbeschouwelijk;
       } else if (categorie === 'Documentatiecentrum') {
         iconSoort = centrum;
       } else if (categorie === 'Erfgoedbibliotheek') {
         iconSoort = bibliotheek;
       } else if (categorie === 'Archief') {
         iconSoort = archief;
       } else if (categorie === 'Museumdepot') {
         iconSoort = depot;
       };

    L.marker([<%-details.geometry.y %>, <%-details.geometry.x %>], {icon: iconSoort}).addTo(mymap)
             .bindPopup(`<b class='bold'><%- details.attributes.naam%></b><br> <%- details.attributes.categorie%>`).on('click', function(e){mymap.setView([<%-details.geometry.y %>, <%-details.geometry.x %>], 18)});
   </script>

    <a class='linkskaart' href='/overzicht/'>Terug naar het overzicht</a>
    <a class='linkskaart' href='/kaart/'>Terug naar de map</a>
  </section>


</main>
<% include footer %>
