<% include header %>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<main>
  <header>
    <h1><%= alleInfo.attr.naam%></h1>
  </header>
  <section class='content'>
    <% if (alleInfo.info != undefined) {%>
      <div class='fotoerfgoed' style="background-image: url(<%= alleInfo.info.imageURL%>); background-size: cover; background-position: center; border-radius: 5px;">
      </div>
      <div class="ratings">
        <div class="empty-stars">
        </div>
        <div class="full-stars" style="width:<%=alleInfo.info.populariteitgoogle%>">
        </div>
      </div>
    <% }%>
      <p><span class='bold'><%= alleInfo.attr.categorie%></span></p><br>
      <p><%= alleInfo.attr.straat%> <%= alleInfo.attr.huisnr%></p>
      <p><%= alleInfo.attr.postcode%> <%= alleInfo.attr.gemeente%> </p><br>
      <p><%= alleInfo.attr.type%></p><br>
    <% if (alleInfo.info != undefined) {%>
      <p><span class='bold'>Prijs:</span> € <%=alleInfo.info.prijs %></p>
      <p><span class='bold'>Openingsdagen:</span> <%=alleInfo.info.openingstijd %></p>
      <p><span class='bold'>Toegankelijk voor rolstoelen en buggy's:</span> <%=alleInfo.info.gebruiksvriendelijk %></p><br>
      <p class="basistekst"><%=alleInfo.info.basistekst %></p>
    <% }%>
    <div id="mapid"></div>



    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
  integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
  crossorigin=""></script>
   <script src='/js/leafletscript.js'></script>

   <script type="text/javascript">

       var iconSoort;
       var categorie = '<%-alleInfo.attr.categorie%>';

       if (categorie === 'Erfgoedvereniging') {
         iconSoort = erfgoedvereniging;
       } else if (categorie === 'Museum') {
         iconSoort = museum;
       } else if (categorie === 'Documentatiecentrum') {
         iconSoort = centrum;
       } else if (categorie === 'Erfgoedbibliotheek') {
         iconSoort = bibliotheek;
       } else if (categorie === 'Archief') {
         iconSoort = archief;
       } else if (categorie === 'Museumdepot') {
         iconSoort = depot;
       } else {
         iconSoort = levensbeschouwelijk;
       };

    L.marker([<%-geometriedetails.geometry.y %>, <%-geometriedetails.geometry.x %>], {icon: iconSoort}).addTo(mymap)
             .bindPopup(`<b class='bold'><%- alleInfo.attr.naam%></b><br> <%- alleInfo.attr.categorie%>`).on('click', function(e){mymap.setView([<%-geometriedetails.geometry.y %>, <%-geometriedetails.geometry.x %>], 18)});
   </script>

    <a class='linkskaart' href='/overzicht/'>Terug naar het overzicht</a><br>
    <a class='linkskaart' href='/kaart/'>Terug naar de map</a>
  </section>


</main>
<% include footer %>
