<% include header %>


      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>


      <header>

        <h1>Kaart</h1>

      </header>

  <section class='content'>
  <div id="mapid"></div>
  <section class="tekstkaart">
    <br><p>Op deze kaart ziet u alle erfgoedlocaties in Antwerpen. <br><br> U kunt in- en uitzoomen en zien welke locatie het dichtst bij u in de buurt is. Per locatie is extra informatie te zien als u hier op klikt. <br> <br>
    Hieronder is een legende voorzien om aan te geven welke betekenis de iconen hebben die u ziet.</p>
  </section>

  </section>

  <h2> Icoon legende </h2>
  <div class="grid-legende">
    <div class="legende-item"><img src="/images/legende_icon_archief.png" alt="archief icoon" class="legende-image"></div>
    <div class="legende-tekst">Archief centrum</div>
    <div class="legende-item"><img src="/images/legende_icon_bibliotheek.png" alt="bibliotheek icoon" class="legende-image"></div>
    <div class="legende-tekst">Bibliotheek</div>
    <div class="legende-item"><img src="/images/legende_icon_documentatiecentrum.png" alt="documentatiecentrum icoon" class="legende-image"></div>
    <div class="legende-tekst">Documentatiecentrum</div>
    <div class="legende-item"><img src="/images/legende_icon_museum.png" alt="museum icoon" class="legende-image"></div>
    <div class="legende-tekst">Museum</div>
    <div class="legende-item"><img src="/images/legende_icon_museumdepot.png" alt="museumdepot icoon" class="legende-image"></div>
    <div class="legende-tekst">Museumdepot</div>
    <div class="legende-item"><img src="/images/legende_icon_vereniging.png" alt="vereniging icoon" class="legende-image"></div>
    <div class="legende-tekst">Erfgoed vereniging</div>
    <div class="legende-item"><img src="/images/legende_icon_levensbeschouwelijk.png" alt="levensbeschouwelijk erfgoed icoon" class="legende-image"></div>
    <div class="legende-tekst">Levensbeschouwelijk erfgoed</div>
  </div>

  <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
crossorigin=""></script>
 <script src='/js/leafletscript.js'></script>

 <script type="text/javascript">
 <% for(var i=0; i < information.length; i++) { %>

   var iconSoort;
   var categorie = '<%-information[i].attributes.categorie%>';

   if (categorie === 'Erfgoedvereniging') {
     iconSoort = erfgoedvereniging;
   } else if (categorie === 'Museum') {
     iconSoort = museum;
   } else if (categorie === 'Levensbeschouwelijk.erfgoed') {
     iconSoort = levensbeschouwelijk;
   } else if (categorie === 'Documentatiecentrum') {
     iconSoort = centrum;
   } else if (categorie === 'Erfgoedbibliotheek') {
     iconSoort = bibliotheek;
   } else if (categorie === 'Archief') {
     iconSoort = archief;
   } else if (categorie === 'Museumdepot') {
     iconSoort = depot;
   };


 L.marker([<%-information[i].geometry.y %>, <%-information[i].geometry.x %>], {icon: iconSoort}).addTo(mymap)
     .bindPopup(`<b class='bold'><%- information[i].attributes.naam%></b><br> <%- information[i].attributes.categorie%><br><a class='linkskaart' href='/overzicht/<%= i%>'>Meer informatie</a>`).on('click', function(e){mymap.setView([<%-information[i].geometry.y %>, <%-information[i].geometry.x %>], 18)});
 <% } %>

 var hier = L.icon({
     iconUrl: 'images/marker_locatie.png',
     iconSize: [42, 69], // size of the icon
 });

 function onLocationFound(e) {
 	var radius = e.accuracy / 2;

 	L.marker(e.latlng, {icon: hier}).addTo(mymap)
 		.bindPopup("U bent " + radius + " meter verwijderd van dit punt").openPopup();
 }

 function onLocationError(e) {
 	alert(e.message);
 }

 mymap.on('locationfound', onLocationFound);
 mymap.on('locationerror', onLocationError);

 mymap.locate({setView: true, maxZoom: 16});
 </script>

<% include footer %>
