<% include header %>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<html class="overzichthtml">
<main>
  <header>
    <h1>Overzicht</h1>
  </header>
  <section class='content'>
    <p>Op deze pagina vindt u alle erfgoedlocaties in Antwerpen en heeft u de optie om te filteren en sorteren op enkele categorieën.<br><br> Heeft u gevonden wat u zocht?<br> Klik op meer informatie voor het adres, de openingsuren, etc.</p>

  <div class="filtersorteer">
  <div id="filters" class="button-group">
    <p class="filtertekst">Filteren op:</p>
    <button class="button is-checked" data-filter="*">alles</button>
    <button class="button" data-filter=".Erfgoedvereniging">erfgoedvereniging</button>
    <button class="button" data-filter=".Museum">museum</button>
    <button class="button" data-filter=".Levensbeschouwelijk.erfgoed">levensbeschouwelijk erfgoed</button>
    <button class="button" data-filter=".Documentatiecentrum">documentatiecentrum</button>
    <button class="button" data-filter=".Erfgoedbibliotheek">erfgoedbibliotheek</button>
    <button class="button" data-filter=".Archief">archief</button>
    <button class="button" data-filter=".Museumdepot">museumdepot</button>
    <button class="button" data-filter=".Openlucht">openlucht</button>
    <button class="button" data-filter=".Overdekt">overdekt</button>
    <button class="button" data-filter=".Toegankelijk">toegankelijk</button>
  </div>
  <div id="sorts" class="button-group">
   <p class="sorteertekst">Sorteren op:</p>
    <button class="button is-checked" data-sort-by="original-order">oorspronkelijke volgorde</button>
    <button class="button" data-sort-by="name">alfabetisch</button>
    <button class="button" data-sort-by="prijs">prijs</button>
    <button class="button" data-sort-by="populariteit">populariteit google</button>
  </div>
  </div>


  <section class="grid">
    <% for (var i=0; i < information.length; i++)  { %>
      <!-- for (var i = 0, j = 0; i < information.length && j < extrainfo.length; i++, j++) -->
      <!-- for (var i = 0, var j = 0; (i < information.length || j < extrainfo.length); i++, j++){ -->
      <div class="itemoverzicht <%= information[i].attributes.categorie%> <%= information[i].attributes.type%> ">
       	<p class="naam"><b class='bold'><%= information[i].attributes.naam%></b><br>  <%= information[i].attributes.categorie%></p>
        <% for (var j=0; j < extrainfo.length; j++)  { %>
          <% if (  information[i].attributes.naam == extrainfo[j].titel ) { %>
            <p>Prijs: € <%= extrainfo[j].prijs%></p>
            <p>Rolstoel- en buggyvriendelijk: <%= extrainfo[j].gebruiksvriendelijk%></p>
            <p>Google rating: <%= extrainfo[j].populariteitgoogle%>/5</p>
          <% } %>
        <% } %>
        <a class='linkskaart' href='/overzicht/<%=i%>'>Meer informatie</a>
      </div>
    <% } %>
  </section>
    </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/isotope.js"></script>
  <script src="js/script.js"></script>


</main>

</html>
<% include footer %>
