<% include header %>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<html class="overzichthtml">
<main>
  <header>
    <h1>Overzicht</h1>
  </header>
  <section class='content'>
    <p>Op deze pagina vindt u alle erfgoedlocaties in Antwerpen en heeft u de optie om te filteren en sorteren op enkele categorieën.<br><br> Heeft u gevonden wat u zocht?<br> Klik op meer informatie voor het adres, de openingsuren, etc.</p>

  <div class="filtersorteer">
  <div id="filters" class="button-group">
    <p class="filtertekst">Filteren op:</p>
    <button class="button is-checked" data-filter="*">alles</button>
    <button class="button" data-filter=".Erfgoedvereniging">erfgoedvereniging</button>
    <button class="button" data-filter=".Museum">museum</button>
    <button class="button" data-filter=".Levensbeschouwelijk.erfgoed">levensbeschouwelijk erfgoed</button>
    <button class="button" data-filter=".Documentatiecentrum">documentatiecentrum</button>
    <button class="button" data-filter=".Erfgoedbibliotheek">erfgoedbibliotheek</button>
    <button class="button" data-filter=".Archief">archief</button>
    <button class="button" data-filter=".Museumdepot">museumdepot</button>
    <button class="button" data-filter=".Openlucht">openlucht</button>
    <button class="button" data-filter=".Overdekt">overdekt</button>
    <button class="button" data-filter=".toegank-ja">toegankelijk</button>
  </div>
  <div id="sorts" class="button-group">
   <p class="sorteertekst">Sorteren op:</p>
    <button class="button is-checked" data-sort-by="original-order">oorspronkelijke volgorde</button>
    <button class="button" data-sort-by="name">alfabetisch</button>
  </div>
  </div>


  <section class="grid">
    <% for (var i=0; i < alleInfo.length; i++)  { %>
      <div class="itemoverzicht <%= alleInfo[i].attr.categorie%> <%= alleInfo[i].attr.type%> <% if(alleInfo[i].info != undefined){ %>toegank-<%= alleInfo[i].info.gebruiksvriendelijk%><%}%>">
       	<p class="naam"><b class='bold'><%= alleInfo[i].attr.naam%></b><br>  <%= alleInfo[i].attr.categorie%></p>
        <% if (alleInfo[i].info != undefined) {%>
        <p>Prijs: € <%= alleInfo[i].info.prijs%></p>
        <p>Rolstoel- en buggyvriendelijk: <%= alleInfo[i].info.gebruiksvriendelijk%></p>
        <p>Google rating: <%= alleInfo[i].info.populariteitgoogle%>/5</p>
        <% }%>
        <a class='linkskaart' href='/overzicht/<%=i%>'>Meer informatie</a>
      </div>
    <% } %>
  </section>
    </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/isotope.js"></script>
  <script src="js/script.js"></script>
  <script type="text/javascript">
// Put the following code after isotope js include
// Override and customize Isotope FitRows layout mode: CENTER each rows
var fitRows = Isotope.LayoutMode.modes.fitRows.prototype;
fitRows._resetLayout = function() {

  // pre-calculate offsets for centering each row
  this.x = 0;
  this.y = 0;
  this.maxY = 0;
  this._getMeasurement( 'gutter', 'outerWidth' );
  this.centerX = [];
  this.currentRow = 0;
  this.initializing = true;
  for ( var i=0, len = this.items.length; i < len; i++ ) {
      var item = this.items[i];
      this._getItemLayoutPosition(item);
  }
  this.centerX[this.currentRow].offset = (this.isotope.size.innerWidth +this.gutter-this.x) / 2;
  this.initializing = false;
  this.currentRow = 0;

  // centered offsets were calculated, reset layout
  this.x = 0;
  this.y = 0;
  this.maxY = 0;
  this._getMeasurement( 'gutter', 'outerWidth' );
};
fitRows._getItemLayoutPosition = function( item ) {
  item.getSize();
  var itemWidth = item.size.outerWidth + this.gutter;
  // if this element cannot fit in the current row
  var containerWidth = this.isotope.size.innerWidth + this.gutter;
  if ( this.x !== 0 && itemWidth + this.x > containerWidth ) {

    if (this.initializing)
        this.centerX[this.currentRow].offset = (containerWidth-this.x) / 2;
    this.currentRow++;

    this.x = 0;
    this.y = this.maxY;
  }

  if (this.initializing && this.x == 0) {
    this.centerX.push({ offset: 0});
  }
  //if (this.centerX[this.currentRow].offset < 0)
  //  this.centerX[this.currentRow].offset = 0;

  var position = {
    x: this.x+(this.initializing?0:this.centerX[this.currentRow].offset),
    y: this.y
  };

  this.maxY = Math.max( this.maxY, this.y + item.size.outerHeight );
  this.x += itemWidth;

  return position;
};
</script>


</main>

</html>
<% include footer %>
