<% include header %>
<main>
  <header>
    <h1>Overzicht</h1>
  </header>
  <section>
    <p>Hier komt een overzicht waar je kan filteren.</p>
  </section>

<section>
  <% for (var i=0; i < information.length; i++)  { %>
      <div class="itemoverzicht">
     	<p><b><%= information[i].attributes.naam%></b>  <%= information[i].attributes.categorie%></p>
      <p><%= information[i].attributes.straat%> <%= information[i].attributes.huisnr%></p>
      <p><%= information[i].attributes.postcode%> <%= information[i].attributes.gemeente%></p>
      </div>
  <% } %>
</section>



</main>
<% include footer %>
